.title {
  margin: 20px 0;
  text-align: center;
  margin-top: 20px;
}

.subtitile_container {
  display: flex;
  margin: 25px 0 0;
  gap: 10px;
}

.header-container {
  display: flex;
  margin: 20px 0 10px;
  align-items: center;
  justify-content: space-between;
}

.subtitle {
  margin: 0;
}

.buttons-container {
  gap: 20px;
  display: flex;
  justify-content: center;
}

.loadingData {
    text-align: center;
}
